<header class="p-3" style="border-bottom: 3px solid white;">
    <div class="container ">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="90" height="32" role="img" aria-label="Bootstrap"
            src="https://psv4.userapi.com/c237131/u325006553/docs/d3/5468100f0227/Nadpis_DN.png?extra=tJt5QKLsTCh9k4ndteVv3yZpcBFwRv9-50ZbpRVqBuJBisIjUSzizY7v89GNHwHpnS5ENzQZomCKoV25NROc3Ck-ff_Z6RnE_UhL9fvcfgt8zLWq3rMjZA2_ekB6ULNYQLHIyH9f0aLfFA6GTunNYI7ZWA"
            alt="">
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
            aria-label="Search" >
        </form>
  
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2 btn-small">Login</button>
          <button type="button" class="btn btn-warning btn-small">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
<!-- <router-outlet>
</router-outlet> -->
<app-store-page>
</app-store-page>
<!-- <app-product-page></app-product-page> -->