<div class="container">
  <div class="row mb-3 text-center mt-3 justify-content-center">
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
  </div>

  <div class="row mb-3 text-center mt-3 justify-content-center">
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
  </div>

  <div class="row mb-3 text-center mt-3 justify-content-center">
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
    <app-product-box class="col-sm-4 themed-grid-col"></app-product-box>
  </div>
</div>