<div class="card" style="
width: 18rem; color: white;
background-color: #0d0d0d;
">
  <img src="http://www.muotityyli.com/img/c/Miesten-Mokkasiinit-Myynti-Rento-Kukka-Persoonallisuus-Kesä-Kengät-Pinkki-Musta-1910-c01.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title ">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <div class="d-flex row-cols-2">
      <p class="h4 ">500р</p>
      <a href="#" class="btn btn-outline-light me-2 btn-small ">Buy</a>
    </div>
  </div>
</div>