
<div class="container">
    <div class="rov rov-col-2 mt-5 d-flex">
        <img src="http://www.muotityyli.com/img/c/Miesten-Mokkasiinit-Myynti-Rento-Kukka-Persoonallisuus-Kesä-Kengät-Pinkki-Musta-1910-c01.jpg" class="img-fluid img-thumbnail col-6" alt="...">
        <p class="text-right m-5 h4 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, doloremque! Natus sint quibusdam nesciunt doloribus laudantium accusantium nulla. Laudantium sint repudiandae enim fugit sed neque, corporis temporibus animi a rem.</p>
    </div>
</div>